* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    ;
}

/* Shared classes */
.hidden {
    display: none !important;
}

.strong {
    font-weight: 600;
}

.left,
.right {
    display: flex;
    justify-content: flex-start;

    gap: 10px;
}

ion-icon {
    width: 22px;
    height: 22px;

    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

/* -------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 62px;

    padding-top: 15px;

    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;

    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 950px;
    width: 90%;

    margin: 0 auto;
}

.navbar-mobile {
    display: none;
}

.ion-icon {
    width: 22px;
    height: 22px;

    cursor: pointer;
}

#logo {
    width: 103px;
    height: 29px;

    cursor: pointer;
}

.border {
    width: 1px;
    height: 22px;

    background-color: #DBDBDB;
}

input {
    width: 215px;
    height: 28px;

    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;

    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    max-width: 950px;
    width: 100%;

    margin: 88px auto 0;
}

.sidebar {
    display: flex;
    flex-direction: column;

    gap: 15px;

    position: absolute;
    top: 25px;
    right: 0;

    width: 300px;
}

@media screen and (max-width: 935px) {
    .sidebar {
        display: none;
    }

    .container {
        align-items: center;
    }


}

.stories {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;

    position: relative;

    max-width: 614px;
    width: 100%;
    height: 121px;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 25px;

    overflow-x: hidden;
}

@media screen and (max-width: 614px) {

    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
    }

    .container {
        margin: 62px auto 0;
    }

    .stories {
        overflow-x: scroll;
        margin-bottom: 0;
        background-color: #FAFAFA;

        border: 1px solid #DBDBDB;
    }

    #arrow-left,
    #arrow-right {
        display: none;
    }

}

.storie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    width: 66px;
    height: 66px;

    background: url('../assets/img/stories_background-noBackground.png') center;
    background-size: 66px;

    margin-left: 5px;
}

.storie>img {
    width: 56px;
    height: 56px;

    margin: 20px 5px -5px;
}

.storie>h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #262626;
}

#arrow-left,
#arrow-right {
    position: sticky;
    top: 40%;

    width: 32px;
    height: 32px;
}

#arrow-left {
    left: 10px;

    margin-right: -25px;

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#arrow-right {
    right: 10px;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    gap: 60px;

    max-width: 614px;
    width: 100%;

    margin-bottom: 100px;
}

.post {
    width: 100%;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.post-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 61px;

    background-color: #FFFFFF;
    padding: 5px 15px;
}

.post-head>.left {
    display: flex;
    align-items: center;
}

.post-img {
    width: 100%;
}

.post-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 12px;

    height: 76px;

    padding-top: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 0 10px;
}

.info-likes {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;

    padding-left: 10px;
}

.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.see-all {
    display: flex;
    justify-content: space-between;
}

.suggestions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 15px;
}

.sug {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.post-img {
    position: relative;
}

.animation {
    position: absolute;
    top: 35%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.animation>ion-icon {
    width: 200px;
    height: 200px;

    color: white;

    animation: likePost 0.3s ease-in 0s 1 normal none;
}

@keyframes likePost {
    from {
        scale: 0.2;
    }

    to {
        scale: 1;
    }
}